.loader-black {
  position: relative;
  width: 20px;
  height:20px;
  border-radius: 10px;
}

.loader-black div {
  width: 8%;
  height: 24%;
  background: var(--black-300);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader-black .bar1-black {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader-black .bar2-black {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader-black .bar3-black {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader-black .bar4-black {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader-black .bar5-black {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader-black .bar6-black {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader-black .bar7-black {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader-black .bar8-black {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader-black .bar9-black {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader-black .bar10-black {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader-black .bar11-black {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader-black .bar12-black {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}