server:
  port: ${PORT:8081}

spring:
  application:
    name: education-service-monolith
    ping:
      host: ${PING_HOST:https://gateway.yowyob.com/media-service}
  main:
    allow-bean-definition-overriding: true

  r2dbc:
    url: ${DATABASE_R2DBC_URL:r2dbc:postgresql://localhost:5433/education_service}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:adminuser}

  datasource:
    url: ${DATABASE_JDBC_URL:jdbc:postgresql://localhost:5433/education_service}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:adminuser}

  media:
    api:
      url: ${MEDIA_API_URL:https://gateway.yowyob.com/media-service}

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML

  app:
    secret-key-jwt: ${APP_SECRET_KEY_JWT:942faeb8l7276e4b49tb248sd291a1c69caa}
    expiration-time: ${APP_JWT_EXPIRATION:3600}
    authorized-services: "EDUCATION,NEWSLETTER,RATINGS,FORUM,USER,APIKEYGATEWAY"
    header-api-key: "X-API-KEY-GATEWAY"
    header-api-key-client: "X-API-KEY-GATEWAY-CLIENT"
    public-paths: /swagger-ui/**,/v3/api-docs/**,/auth/refresh,/actuator/**,/health,/education-service/apikeygateway/**,/admin/**,/request/**

  mail:
    host: ${SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${SPRING_MAIL_PORT:465}
    username: ${SPRING_MAIL_USERNAME:your-email@gmail.com}
    password: ${SPRING_MAIL_PASSWORD:your-app-password}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: ${SPRING_MAIL_SSL_ENABLE:true}
          starttls:
            enable: ${SPRING_MAIL_STARTTLS_ENABLE:false}
            required: false
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
        acks: all
        retries: 3
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
      enable-auto-commit: false
      auto-offset-reset: earliest
    admin:
      properties:
        bootstrap.servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

  gateway:
    r2dbc:
      url: ${DATABASE_R2DBC_URL:r2dbc:postgresql://localhost:5433/education_service}
    liquibase:
      enabled: true
      url: ${DATABASE_JDBC_URL:jdbc:postgresql://localhost:5433/education_service}
      change-log: classpath:db/changelog/gateway/db.changelog-master.yaml
      default-schema: gateway
      drop-first: false

  education:
    datasource:
      url: ${DATABASE_R2DBC_URL:r2dbc:postgresql://localhost:5433/education_service}
    liquibase:
      url: ${DATABASE_JDBC_URL:jdbc:postgresql://localhost:5433/education_service}
      change-log: classpath:db/changelog/education/db.changelog-master.yaml
      default-schema: education
      enabled: true
    ping:
      host: ${PING_HOST:https://gateway.yowyob.com/media-service}

  web:
    resources:
      static-locations:
        - classpath:/static/
        - file:/path/to/podcasts/

  springdoc:
    api-docs:
      enabled: true
    swagger-ui:
      enabled: true

  ratings:
    datasource:
      url: ${DATABASE_R2DBC_URL:r2dbc:postgresql://localhost:5433/education_service}
      driver-class-name: org.postgresql.Driver
    liquibase:
      enabled: true
      url: ${DATABASE_JDBC_URL:jdbc:postgresql://localhost:5433/education_service}
      change-log: classpath:db/changelog/ratings/db.changelog-main.yaml
      default-schema: ratings

  forum:
    datasource:
      url: ${DATABASE_R2DBC_URL:r2dbc:postgresql://localhost:5433/education_service}
    liquibase:
      enabled: true
      url: ${DATABASE_JDBC_URL:jdbc:postgresql://localhost:5433/education_service}
      change-log: classpath:db/changelog/forum/db.changelog-master.yaml
      default-schema: forum
    jwt:
      secret: ${FORUM_JWT_SECRET:changeme}
    validation:
      url: ${FORUM_VALIDATION_URL:http://localhost:8080/api/public/auth/validate}
    security:
      apikey:
        enabled: ${FORUM_APIKEY_ENABLED:false}

  newsletter:
    datasource:
      url: ${DATABASE_R2DBC_URL:r2dbc:postgresql://localhost:5433/education_service}
      username: ${DATABASE_USERNAME:postgres}
      password: ${DATABASE_PASSWORD:adminuser}
    liquibase:
      enabled: true
      url: ${DATABASE_JDBC_URL:jdbc:postgresql://localhost:5433/education_service}
      username: ${DATABASE_USERNAME:postgres}
      password: ${DATABASE_PASSWORD:adminuser}
      change-log: classpath:db/changelog/newsletter/db.changelog-main3.yaml
      default-schema: newsletter
    kafka:
      topic-prefix: "news"
      num-partitions: 3
      replication-factor: 1
      consumer-group-prefix: "cg"

app:
  email:
    provider: ${EMAIL_PROVIDER:smtp}
    resend-api-key: ${RESEND_API_KEY:}
    default-from: ${EMAIL_DEFAULT_FROM:noreply@newsletter.com}

api-docs:
  enabled: true

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Client-Id
  security:
    user:
      name: ${SECURITY_USER_NAME:apiKeyUser}
      password: ${SECURITY_USER_PASSWORD:password123}

logging:
  file.name: ${LOG_FILE:app.log}
  level:
    com.education.apigateway: DEBUG
    com.example.newsletter_service: DEBUG
    com.newsletter: DEBUG
    org:
      springdoc: DEBUG
      springframework:
        kafka: INFO
        security: TRACE
        web:
        server.handler: TRACE
    org.thymeleaf: TRACE
    org.thymeleaf.spring6: TRACE
