@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

audio {
    width:600px;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;

}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 4px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0; /* Color of the scrollbar thumb on hover */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
.container {
    max-width: 2100px;
    padding: 0 128px;
    margin: 0 auto;
}

.notfound {
  text-shadow: 1px 0px 10px;
  color: var(--primary-purple-500)
}


@font-face {
  font-family: 'Helvetica Neue', sans-serif;
  src: url('/fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue', sans-serif;
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
} 
@font-face {
  font-family: 'Helvetica Neue', sans-serif;
  src: url('/fonts/HelveticaNeueThin.otf') format('opentype'); 
  font-weight: 400;
  font-style: normal;
} 

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: calc(var(--letter-spacing-minus-one) * -1);;
  line-height: 48px;
}

h2 {
font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  letter-spacing: calc(var(--letter-spacing-minus-one) * -1);;
  line-height: 44px;
}
h3{
font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: calc(var(--letter-spacing-minus-one) * -1);;
  line-height: 40px;
}
h4 {
font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  letter-spacing: calc(var(--letter-spacing-minus-one) * -1);;
  line-height: 36px;
}
h5 {
 font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: calc(var(--letter-spacing-minus-one) * -1);;
  line-height: 32px;
}

h6 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: calc(var(--letter-spacing-minus-one) * -1);;
  line-height: 28px;
  color: #444;
}
p {
 font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: calc(var(--letter-spacing-minus-one) * -1);;
  line-height: 28px;
}

.custom-input {
  border: 1px solid hsl(0, 0%, 89.8%);
  padding: 6px 8px;
  height: 40px;
  border-radius: 6px;
  width: 100%; 
  font-size: 15px;
  color: var(--black-500)

}

.create-blog-form-height {
  height: calc(100vh - var(--header-height) - 42px - 100px);
  /* height: 75vh; */
}
.create-blog-form-height2 {
  height: calc(100vh - var(--header-height) - 60px );
  /* height: 75vh; */
}

.custom-input:focus {
  outline: 2px solid var(--primary-purple-100);
  /* box-shadow: 0px 0px 32px 0px hsla(var(--activeShadow)); */
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --activeShadow: 233, 54%, 38%, 0.5;
    --defaultShadow: rgba(0,0,0,0.1);
    --header-height : 92px;
    --primary-blue-700 : #20296B;
    --primary-purple-600 : #293589;
    --primary-purple-500 : #2D3A96;
    --primary-purple-400 : #5761AB;
    --primary-purple-300 : #727BB9;
    --primary-purple-200 : #9EA4CF;
    --primary-purple-100 : #BEC2DE;
    --primary-purple-50 : #d9d9e0;
    --secondary-orange-800 : #8C5035;
    --secondary-orange-700 : #B46845;
    --secondary-orange-600 : #E78558;
    --secondary-orange-500 : #FE9261;
    --secondary-orange-400 : #FEA881;
    --secondary-orange-300 : #FEB695;
    --secondary-orange-200 : #FFCDB6;
    --black-500 : #121212;
    --black-400 : #414141;
    --black-300 : #606060;
    --black-200 : #929292;
    --grey-500 : #D6D6D6;
    --grey-400 : #DEDEDE ;
    --grey-300 : #E4E4E4;
    --grey-200 : #ECECEC;
    --grey-100 : #F2F2F2;
    --grey-50 : #f0f0f0;
    --green-800 : #176A25;
    --green-700 : #1E8930;
    --green-600 : #26B03E;
    --green-500 : #2AC144;
    --green-400 : #55CD69;
    --green-300 : #70D582;
    --green-200 : #9DE2A9;
    --green-100 : #BDECC5;
    --green-50 : #EAF9EC;
    --redTheme: 0,100%,61%;
    --letter-spacing-minus-one: 0.01em;
    --letter-spacing-minus-two: 0.02em;
    --letter-spacing-minus-three: 0.03em;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 93%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-black-500;
  }
  .content-title {
    @apply paragraph-large-medium font-bold hover:underline transition-all duration-300
  }
  .content-preview {
    @apply paragraph-medium-normal text-black-300
  }
  .content-date {
    @apply text-[14px] paragraph-xmedium-normal text-black-300
  }
  .content-interaction {
    @apply paragraph-small-normal
  }
  .form-label {
    @apply paragraph-medium-medium
  }
}

/* text styles */
@layer base {
  /* H1 */
  .h1-bold, .h1-medium, .h1-normal {
  @apply text-h1 font-helveticaNueue -tracking--1% leading-48;
  }
  .h1-bold { @apply font-bold; }
  .h1-medium { @apply font-medium; }
  .h1-normal { @apply font-normal; }


  /* H2 */
  .h2-bold, .h2-medium, .h2-normal {
    @apply text-h2 font-helveticaNueue -tracking--1% leading-44 font-bold
  }
  .h2-bold { @apply font-bold; }
  .h2-medium { @apply font-medium; }
  .h2-normal { @apply font-normal; }

  /* H3 */
  .h3-bold, .h3-medium, .h3-normal {
    @apply text-h3 font-helveticaNueue -tracking--1% leading-40 font-bold
  }
  .h3-bold { @apply font-bold; }
  .h3-medium { @apply font-medium; }
  .h3-normal { @apply font-normal; }


  /* H4 */
  .h4-bold, .h4-medium, .h4-normal {
    @apply text-h4 font-helveticaNueue -tracking--1% leading-36 font-bold
  }
  .h4-bold { @apply font-bold; }
  .h4-medium { @apply font-medium; }
  .h4-normal { @apply font-normal; }

  /* H5 */
  .h5-bold, .h5-medium, .h5-normal  {
    @apply text-h5 font-helveticaNueue -tracking--1% leading-32 font-bold
  }
  .h5-bold { @apply font-bold; }
  .h5-medium { @apply font-medium; }
  .h5-normal { @apply font-normal; }

    /* H6 */
  .h6-bold, .h6-medium, .h6-normal, .h6-semibold {
    @apply text-h6 font-helveticaNueue -tracking--1% leading-28 font-bold
  }
  .h6-bold { @apply font-bold; }
  .h6-semibold { @apply font-semibold; }
  .h6-medium { @apply font-medium; }
  .h6-normal { @apply font-normal; }

  /* Paragraph xsmall */
  .paragraph-xsmall-bold, .paragraph-xsmall-medium, .paragraph-xsmall-normal {
    @apply text-paragraph-Xsmall -tracking--1% font-inter leading-20 font-bold;
  }
  .paragraph-xsmall-bold { @apply font-bold; }
  .paragraph-xsmall-medium { @apply font-medium; }
  .paragraph-xsmall-normal { @apply font-normal; }

  /* Paragraph small */
  .paragraph-small-bold, .paragraph-small-medium, .paragraph-small-normal {
    @apply text-paragraph-small -tracking--1% font-inter leading-20;
  }
  .paragraph-small-bold { @apply font-bold; }
  .paragraph-small-medium { @apply font-medium; }
  .paragraph-small-normal { @apply font-normal; }

  /* Paragraph medium */
  .paragraph-medium-bold, .paragraph-medium-medium, .paragraph-medium-normal {
    @apply text-paragraph-medium -tracking--1% font-inter leading-24;
  }
  .paragraph-medium-bold { @apply font-bold; }
  .paragraph-medium-medium { @apply font-medium; }
  .paragraph-medium-normal { @apply font-normal; }

  

  /* Paragraph xmedium */
  .paragraph-xmedium-bold, .paragraph-xmedium-medium, .paragraph-xmedium-normal {
    @apply text-[15px] -tracking--1% font-inter leading-24;
  }
  .paragraph-xmedium-bold { @apply font-bold; }
  .paragraph-xmedium-medium { @apply font-medium; }
  .paragraph-xmedium-normal { @apply font-normal; }

  /* Paragraph large */
  .paragraph-large-bold, .paragraph-large-medium, .paragraph-large-normal {
    @apply text-paragraph-large -tracking--1% font-inter leading-28 ;
  }
  .paragraph-large-bold { @apply font-bold; }
  .paragraph-large-medium { @apply font-medium; }
  .paragraph-large-normal { @apply font-normal; }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
