
/* Container to hold both the image and the overlay */
.background-container-blog {
  overflow: hidden;
  position: relative;
  border-radius: 18px;
  width: 100%;
  height: 500px;  /* Adjust as needed */
}

/* Image with low opacity */
.background-image-blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  transition: all 0.3s ease-out;
  object-fit: cover;  /* Ensure the image covers the container */
  opacity: .8;  /* Set image opacity */
}
.background-container-blog:hover .background-image-blog {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}
/* Color overlay */
.background-overlay-blog {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: rgba(0,0,0,0.3);
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 52%, rgba(0, 0, 0, 0.5) 52%, rgba(0, 0, 0, 0.5) 100%); */
}

.text-overlay-blog {
  width: 80%;
  position: absolute;
  display: flex;
  gap: 4px;
  flex-direction: column; 
  bottom: 32px;
  left: 24px;
  /* top: 80%; */
  color: white;
  /* transform: translate(-50%, -50%); */
  text-align: start; 
  z-index: 1;  /* Ensure text is on top of the background */
}
